<div class="w-100 w-50-m w-50-l ph3 pv3 flex flex-column">
  <div class="bg-near-white pa4 br3 site-card flex-auto flex flex-column justify-between">
    <div>
      <h3 class="f3 navy mt0 mb2 lh-title">{{ .Get "title" }}</h3>
      <div class="f5 mid-gray lh-copy">{{ .Inner | markdownify }}</div>
    </div>
    <a href="{{ .Get "url" }}" class="button-link button-link-block mt3"{{ if strings.HasPrefix (.Get "url") "http" }} rel="noopener noreferrer" target="_blank"{{ end }}>
      {{ .Get "button" }}
    </a>
  </div>
</div>
