<div class="flex mb4 w-100">
    <img src="{{ .Get " before" }}" alt="Current Rail Yard Aerial" class="h-auto pl1" style="flex: 0.827">
    <img src="{{ .Get " after" }}" alt="Proposed Rio Grande Plan Aerial" class="h-auto pr1" style="flex: 1.513">
    <div class="">
        <!--<svg class="map-overlay" width="400" height="100" viewBox="0 0 400 100" xmlns="http://www.w3.org/2000/svg">
            <path d="M 20 80 Q 150 10, 380 70" stroke="white" stroke-width="12" fill="transparent"
                stroke-linecap="round" />

            <polygon points="375,55 400,72 370,88" fill="white" />
        </svg> -->

    </div>
</div>