{{- $sc := . -}}
{{- $name := $sc.Get "name" -}}
{{- $image := $sc.Get "image" -}}
{{- with $sc.Page.Resources.GetMatch $image -}}
	{{- $thumb := .Fill "256x256 Center webp q85" -}}
	<div class="flex flex-column flex-row-l items-start b--light-gray bb mb4 pb3">
		<div class="flex-none mb0-l mb3 pr0 pr4-l w4">
			<img
				src="{{ $thumb.RelPermalink }}"
				alt="{{ lang.Translate "portraitOf" $name }}"
				width="{{ $thumb.Width }}"
				height="{{ $thumb.Height }}"
				class="db b--black-10 ba br2 h-auto w-100"
				loading="lazy"
				decoding="async"
			>
		</div>
		<div class="flex-auto">
			<h3 class="mb2 mt0 f3 lh-title">{{ $name }}</h3>
			<div class="f5 lh-copy mid-gray">
				{{ $sc.Inner | markdownify }}
			</div>
		</div>
	</div>
{{- else -}}
	{{ errorf "team-member: image %q not found on page %q" $image $sc.Page.Path }}
{{- end -}}
