{{- $sc := . -}}
{{- $name := $sc.Get "name" -}}
{{- $image := $sc.Get "image" -}}
{{- with $sc.Page.Resources.GetMatch $image -}}
  {{- $thumb := .Fill "256x256 Center webp q85" -}}
  <div class="team-member flex flex-column flex-row-l items-start mb4 pb3 bb b--light-gray">
    <div class="team-member__photo pr0 pr4-l mb3 mb0-l flex-shrink-0">
      <img
        src="{{ $thumb.RelPermalink }}"
        alt="{{ lang.Translate "portraitOf" $name }}"
        width="{{ $thumb.Width }}"
        height="{{ $thumb.Height }}"
        class="db br2 site-card"
        loading="lazy"
        decoding="async"
      >
    </div>
    <div class="flex-auto">
      <h3 class="f3 navy mt0 mb2 lh-title">{{ $name }}</h3>
      <div class="f5 lh-copy mid-gray">
        {{ $sc.Inner | markdownify }}
      </div>
    </div>
  </div>
{{- else -}}
  {{ errorf "team-member: image %q not found on page %q" $image $sc.Page.Path }}
{{- end -}}
