{{- $sc := . -}}
{{- $name := $sc.Get "name" -}}
{{- $image := $sc.Get "image" -}}
{{- with $sc.Page.Resources.GetMatch $image -}}
  {{- $thumb := .Fill "320x320 Center webp q85" -}}
  <div class="flex flex-column flex-row-l items-start mb4 pb3 bb b--light-gray">
    <div class="w-100 w-30-l pr0 pr4-l mb3 mb0-l flex-shrink-0">
      <img
        src="{{ $thumb.RelPermalink }}"
        alt="Portrait of {{ $name }}"
        width="{{ $thumb.Width }}"
        height="{{ $thumb.Height }}"
        class="db w-100 br2 shadow-4"
        style="height: auto;"
        loading="lazy"
        decoding="async"
      >
    </div>
    <div class="w-100 w-70-l">
      <h3 class="f3 navy mt0 mb2">{{ $name }}</h3>
      <div class="f5 lh-copy measure-wide">
        {{ $sc.Inner | markdownify }}
      </div>
    </div>
  </div>
{{- else -}}
  {{ errorf "team-member: image %q not found on page %q" $image $sc.Page.Path }}
{{- end -}}
